.bracket {
  display: flex;
  height: 100%;
  width: 100%;
}

.round {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  opacity: 0.5;
}
.round.completed {
  opacity: 1;
}
.round:last-child .matchup:after {
  display: none;
}
.round:last-child .player:after {
  display: none;
}
.round:first-child .player:before {
  display: none;
}

.matchup {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 40px;
  position: relative;
}
.matchup:after {
  content: "";
  display: block;
  position: absolute;
  top: 25%;
  right: 0;
  height: 50%;
  width: 2px;
  background: #334d5c;
}

.player {
  flex: 0.2;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  padding: 1em;
  border: 1px solid transparent;
  border-radius: 0.1em;
  box-shadow: 0 2px 0 0 #e5e5e5;
  outline: none;
  cursor: pointer;
  transition: padding 0.2s ease-in-out, border 0.2s linear;

}
.player.winner {
  background: #df5a49;
  color: #334d5c;
}
.player.loser {
  background: #df5a49;
  opacity: 0.5;
}
.player:before {
  content: "";
  display: block;
  height: 2px;
  width: 40px;
  background: #334d5c;
  position: absolute;
  left: -40px;
  top: 50%;
}
.player:after {
  content: "";
  display: block;
  height: 2px;
  width: 40px;
  background: #334d5c;
  position: absolute;
  right: -40px;
  top: 50%;
}
